.stats {
    width: 320px;
    margin: 0 auto;

    &__header {
        padding: 30px 40px 25px 40px;
    }

    &__table {
        width: 100%;
    }

    &__legend--top {
        display: none;
    }

    @media (min-width: @tablet-width) {
        & {
            width: 640px;
            margin-top: -185px;
        }

        &__legend--bottom {
            display: none;
        }

        &__legend--top {
            display: block;
        }

    }

    @media (min-width: @desktop-width) {
        & {
            display: flex;
            width: 960px;
            margin-top: -127px;
        }

        &__header {
        width: 320px;
        padding: 33px 40px 28px 40px;
        }

        &__table {
            width: 640px;
        }        
    }

}

